{% macro _render_html_attributes(attributes) %}
    {# Helper function to render HTML attributes #}
    {% for key, value in attributes.items() %}
        {{ key }}="{{ value }}"
    {% endfor %}
{% endmacro %}

{% macro primary(text, href='#', icon='', attrs={}) %}
{# O padrão é 'btn-primary', mas permite que classes como 'btn-success' ou 'btn-danger' sejam passadas #}
{% set default_class = 'btn btn-primary' %}
{% set final_class = default_class %}

{% if 'class' in attrs %}
    {% set final_class = 'btn ' ~ attrs.pop('class') %}
{% endif %}

<a href="{{ href }}" class="{{ final_class }}" {{ _render_html_attributes(attrs) }}>
    {% if icon %}<i class="{{ icon }} me-2"></i>{% endif %}{{ text }}
</a>
{% endmacro %}

{% macro outline_danger(text, href='#', icon='', attrs={}) %}
<a href="{{ href }}" class="btn btn-outline-danger" {{ _render_html_attributes(attrs) }}>
    {% if icon %}<i class="{{ icon }}"></i>{% endif %}{{ text }}
</a>
{% endmacro %}

{% macro submit(text='Salvar', attrs={}) %}
<div class="d-grid mt-4">
    {% set final_attrs = kwargs.copy() %}
    
    {% if attrs %}
        {% set _ = final_attrs.update(attrs) %}
    {% endif %}

    {# O padrão agora é btn-primary. Se o usuário passar 'class="btn-success"', ele substitui. #}
    {% set btn_class = final_attrs.pop('class', 'btn-primary') %} 
    
    <button type="submit" class="btn {{ btn_class }}" {{ _render_html_attributes(final_attrs) }}>
        <strong>{{ text }}</strong>
    </button>
</div>
{% endmacro %}

{% macro danger(text, modal_id, attrs={}) %}
<div class="d-grid mt-4">
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="{{ modal_id }}" {{ _render_html_attributes(attrs) }}>
        {{ text }}
    </button>
</div>
{% endmacro %}
