<footer class="footer-custom">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                <p>
                    &copy; {{ config.ANO_ATUAL }} <strong>Ascentia Finance</strong> · 
                    <span class="badge bg-light text-secondary border">{{ config.VERSAO_APP }}</span>
                </p>
            </div>
            
            <div class="col-md-6 text-center text-md-end">
                <p class="small">
                    🚀 by <a href="#" target="_blank">Ascentia</a>
                    <br>
                    <em>Tecnologia com propósito!</em
                </p>
            </div>
        </div>
    </div>
</footer>
