<div class="modal fade" id="editCategoryModal{{ category.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-bold">Editar Categoria de Receita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="POST" action="{{ url_for('financeiro.manage_revenue_category', category_id=category.id) }}">
                <div class="modal-body pt-4">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        <label class="form-label fw-bold">Nome</label>
                        <input type="text" class="form-control" name="name" value="{{ category.name }}" required>
                    </div>
                    
                    {# O campo 'type' foi removido pois esta categoria é exclusiva de Receita #}
                    
                </div>
                <div class="modal-footer border-0 pt-0">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary px-4">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
