body {
  background: linear-gradient(to bottom right, #f8f9fa, #e2e6ea);
  color: var(--cor-texto);
  min-height: 100vh;
  padding-top: 70px;
}

main {
  padding: 40px 20px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: #6c757d;
  padding: 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
