<nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
    
    <a href="{{ url_for('main.index') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-graph-up-arrow fs-4 me-2 text-success"></i>
        <span class="fs-4 fw-bold">Finance</span>
    </a>
    <hr>
    
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ url_for('main.index') }}" class="nav-link text-white {% if request.endpoint == 'main.index' %}active{% endif %}">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="{{ url_for('financeiro.revenues') }}" class="nav-link text-white {% if 'revenue' in request.endpoint %}active{% endif %}">
                <i class="bi bi-arrow-up-circle me-2"></i> Receitas
            </a>
        </li>
        <li>
            <a href="{{ url_for('financeiro.expenses') }}" class="nav-link text-white {% if 'expense' in request.endpoint and 'config' not in request.endpoint %}active{% endif %}">
                <i class="bi bi-arrow-down-circle me-2"></i> Despesas
            </a>
        </li>
        <li>
            <a href="{{ url_for('financeiro.wallets') }}" class="nav-link text-white {% if 'wallets' in request.endpoint %}active{% endif %}">
                <i class="bi bi-wallet2 me-2"></i> Carteiras
            </a>
        </li>
        <li>
            <a href="{{ url_for('financeiro.categories_config') }}" class="nav-link text-white {% if 'categories_config' in request.endpoint or 'categories' in request.endpoint or 'expense_config' in request.endpoint %}active{% endif %}">
                <i class="bi bi-gear me-2"></i> Configurações
            </a>
        </li>

        {# NOVO: Link de Perfil #}
        <li>
            <a href="{{ url_for('auth.profile') }}" class="nav-link text-white {% if 'profile' in request.endpoint %}active{% endif %}">
                <i class="bi bi-person me-2"></i> Meu Perfil
            </a>
        </li>
        
        {# NOVO: Link de Admin (Adicionado {% endif %} para fechar o bloco) #}
        {% if current_user.is_admin %}
        <hr class="my-3">
        <li>
            <a href="{{ url_for('admin.list_users') }}" class="nav-link text-white {% if 'admin' in request.blueprint %}active{% endif %}">
                <i class="bi bi-shield-lock me-2"></i> Área Admin
            </a>
        </li>
        {% endif %}
        
    </ul>
    
    <hr>
    
    <div class="sidebar-footer p-0">
        <a href="{{ url_for('auth.logout') }}" class="nav-link text-white px-3 py-2">
            <i class="bi bi-door-open-fill me-2"></i> Encerrar Sessão
        </a>
    </div>
</nav>
