<nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" style="width: 250px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-graph-up-arrow fs-4 me-2 text-success"></i>
        <span class="fs-4 fw-bold">Finance</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ url_for('main.index') }}" class="nav-link text-white {% if request.endpoint == 'main.index' %}active{% endif %}">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="{{ url_for('financeiro.transactions') }}" class="nav-link text-white {% if 'transactions' in request.endpoint %}active{% endif %}">
                <i class="bi bi-list-ul me-2"></i> Movimentações
            </a>
        </li>
        <li>
            <a href="{{ url_for('financeiro.wallets') }}" class="nav-link text-white {% if 'wallets' in request.endpoint %}active{% endif %}">
                <i class="bi bi-wallet2 me-2"></i> Carteiras
            </a>
        </li>
        <li>
            <a href="{{ url_for('financeiro.categories') }}" class="nav-link text-white {% if 'categories' in request.endpoint %}active{% endif %}">
                <i class="bi bi-tags me-2"></i> Categorias
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ url_for('static', filename='uploads/profile_pics/default.jpg') }}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{ current_user.username }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sair</a></li>
        </ul>
    </div>
</nav>
